// Copyright IBM Corp. 2026

@use "@carbon/layout/scss/spacing";

.recommender-wrapper {
  padding: spacing.$spacing-05;
}

.activity-tab-item {
  display: flex;
  align-items: center;
  gap: spacing.$spacing-03;
}
