// Copyright IBM Corp. 2026

@use "@carbon/layout/scss/spacing";
@use "@carbon/themes/scss/tokens";

.recommender-wrapper {
  padding-block: spacing.$spacing-03;
}

.activity-tab-item {
  display: flex;
  align-items: center;
  gap: spacing.$spacing-03;
}

.tags-container {
  display: flex;
  padding-inline: spacing.$spacing-05;
  gap: spacing.$spacing-03;
  flex-direction: column;
}

.information-banner {
  display: flex;
  padding: spacing.$spacing-02;
  gap: spacing.$spacing-03;
  margin-inline: spacing.$spacing-05;
  align-items: flex-start;
  border-radius: 8px;
  border: 2px solid tokens.$support-success-inverse;
}

.button-group {
  display: flex;
  padding-inline: spacing.$spacing-05;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: spacing.$spacing-03;
}
